* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: #000000 solid 1px;
}

/* palette */
:root {
	--color-primary-color-1: #ff6900;
	--color-secondary-color-1: #ff0000;
	--color-seconary-color-2: #008000;
	--color-neutral-darker: #000000;
	--color-neutral-dark: #1a1a1a;
	--color-neutral-lightest: #ffffff;
}

/* general beginning */

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

a {
    text-decoration: none;
    color: inherit;
}

/* flex */
.d-flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-j-c-space-b {
    justify-content: space-between;
}

.f-a-i-center {
    align-items: center;
}


/* navigation bar */
nav {
    background-color: var(--color-primary-color-1);
}

.nav-container {
    padding: 10px 0;
}

nav .logo-site>img {
    height: 30px;
    display: block;
}


/* main */
