* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: #000000 solid 1px; */
}

/* palette */
:root {
	--color-primary-color-1: #ff6900;
	--color-secondary-color-1: #ff0000;
	--color-seconary-color-2: #008000;
	--color-neutral-darker: #000000;
	--color-neutral-dark: #1a1a1a;
	--color-neutral-lightest: #ffffff;
}

/* general beginning */

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.p-relative {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

i.fa-lg {
    padding: 0 2px;
}

/* font style */
.color-white {
    color: var(--color-neutral-lightest);
}

/* flex */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-gap>* {
    margin: 15px 0;
}

.f-j-c-space-b {
    justify-content: space-between;
}

.f-j-c-center {
    justify-content: center;
}

.f-a-i-center {
    align-items: center;
}


/* navigation bar */
nav {
    background-color: var(--color-primary-color-1);
}

.nav-container {
    padding: 15px 0;
}

nav a {
    font-weight: bold;
    margin-right: 5px;
}

nav .logo-site>img {
    height: 30px;
    display: block;
}


/* main */
main {
    padding: 50px 0;
}

.item-container {
    padding: 10px;
    width: calc(100% / 3);
}

.img-item-container>img {
    width: 100%;
    display: block;
}

.wishlist-lable {
    width: 40px;
    height: 40px;
    background-color: var(--color-neutral-lightest);
    position: absolute;
    top: 10px;
    right: 0;
}

.wishlist-icon {
    font-size: 30px;
}

.item-label {
    position: absolute;
    bottom: 30px;
}

.item-label>* {
    padding: 3px 5px;
    color: var(--color-neutral-lightest);
    font-weight: bold;
    font-size: small;
}

.sales-label {
    background-color: var(--color-secondary-color-1);
    margin-right: 3px;
}

.eco-label {
    background-color: var(--color-seconary-color-2);
}

.actual-price {
    color: var(--color-secondary-color-1);
    font-weight: bolder;
    font-size: small;
}

.main-price {
    font-size: smaller;
    text-decoration:line-through;    
}

/* footer */
footer {
    background-color: var(--color-neutral-dark);
    padding: 30px 0;
}

footer h4 {
    font-size: large;
    margin-bottom: 5px;
}

footer h5 {
    font-size: small;
    margin-bottom: 10px;
}

.info-link {
    font-size: small;
    margin-right: 2px;
}